@import "bourbon/bourbon";

html, body {
  width: 100%; height: 100%;
}

body {
  background: #202020;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
  &.popped {
    background-color: rgb(19, 22, 18);
  }
}

#gl-canvas {
  position: absolute;
  width: 100%; height: 100%;
  @include box-shadow(rgba(0, 0, 0, 0.5) 0px 2px 12px);
}

#code {
  position: absolute;
  left: 30px; right: 50%; top: 30px; bottom: 30px;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  opacity: 1;
  @include transition((background-color, opacity), 0.2s, ease-in);
  &:hover {
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-out);
    @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
    background-color: rgba(24, 28, 22, 0.8);
  }
  &.shut {
    opacity: 0;
  }
  &.popped {
    left: 0; right: 0; top: 0; bottom: 0;
    padding: 0;
    &:hover {
      background-color: transparent;
    }
    & #code-text {
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      padding: 30px;
      width: auto; height: auto;
    }
  }
}

#code-text {
  margin: 0;
  border: 0;
  outline: none;
  resize: none;
  width: 100%; height: 100%;
  color: white;
  background-color: transparent;
  font-family: Monospace;
  font-size: 14px;
  font-weight: bold;
  white-space: pre-wrap;
  text-shadow: #000 0px 1px 3px;
  &.error {
    color: #f00;
  }
}

#code-toggle, #code-save, #code-popout {
  position: absolute;
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
  @include transition(opacity, 0.2s, ease-out);
}
#code-toggle {
  left: 12px; top: 12px;
  fill: #012;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-out);
  &.open {
    @include transform(rotate(45deg));
    fill: #000;
  }
  &.shut {
    @include transform(rotate(0deg));
  }
  &:hover {
    fill: #239;
  }
}
#code-save, #code-popout {
  left: 46px; top: 12px;
  fill: #000;
  opacity: 0;
  &:hover {
    fill: #282;
  }
}
#code-popout {
  left: 80px;
  &:hover {
    fill: #888;
  }
}

#save-scrim {
  position: absolute;
  width: 100%; height: 100%;
  cursor: pointer;
  &.shut {
    display: none;
  }
}

#save-dialog {
  position: absolute;
  background-color: #77f;
  padding: 16px;
  border-radius: 5px;
  @include box-shadow(inset rgba(0, 0, 0, 0.25) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 2px 12px);
  &.shut {
    visibility: hidden;
  }
  &>* {
    float: left;
  }
  &>input {
    margin: 0;
    border: 0;
    border-radius: 2px;
    height: 28px;
    font-family: Sans-serif;
  }
}
.dialog-textfield {
  padding: 0 0 0 8px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}
.dialog-button {
  font-size: 14px;
  font-weight: bold;
  padding: 0 8px 0 8px;
  margin-left: 8px !important;
  color: #000;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  &:hover {
    background-color: #fff;
  }
}
