@import "bourbon/bourbon";

html {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
}

#code {
    position: absolute;
    left: 30px; right: 30px; top: 30px; bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    @include transition-property(background-color, opacity);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    &:hover {
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-out);
        @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
        background-color: rgba(24, 28, 22, 0.8);
    }
    &.shut {
        opacity: 0;
    }
}

#code-text {
    margin: 0;
    border: 0;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    font-family: Monospace;
    font-size: 14px;
    font-weight: bold;
    white-space: pre-wrap;
    text-shadow: #000 0px 1px 3px;
    &.error {
        color: #f00;
    }
}
#code-text::selection {
  background: #0cc;
  color: #fff;  }
#code-text::-moz-selection {
  background: #0cc;
  color:#fff; }
#code-text::-webkit-selection {
  background: #0cc;
  color:#fff; }

#code-toggle {
    position: absolute;
    left: 12px; top: 12px;
    stroke: #fff; fill: #012;
    stroke-width: 2px;
    cursor: pointer;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    @include transition-timing-function(ease-out);
    @include transition-duration(0.2s);
    &:hover {
        fill: #239;
    }
    &.open {
        @include transform(rotate(45deg));
        fill: #000;
    }
    &.shut {
        @include transform(rotate(0deg));
    }
}
