html, body {
  width: 100%;
  height: 100%; }

body {
  background: #202020;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  body.popped {
    background-color: #131612; }

#gl-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  -ms-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px; }

#code {
  position: absolute;
  left: 30px;
  right: 50%;
  top: 30px;
  bottom: 30px;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  opacity: 1;
  -webkit-transition-property: background-color, opacity;
  -moz-transition-property: background-color, opacity;
  -ms-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  #code:hover {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    -ms-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    -o-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    background-color: rgba(24, 28, 22, 0.8); }
  #code.shut {
    opacity: 0; }
  #code.popped {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0; }
    #code.popped:hover {
      background-color: transparent; }
    #code.popped #code-text {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 30px;
      width: auto;
      height: auto; }

#code-text {
  margin: 0;
  border: 0;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  font-family: Monospace;
  font-size: 14px;
  font-weight: bold;
  white-space: pre-wrap;
  text-shadow: #000 0px 1px 3px; }
  #code-text.error {
    color: #f00; }

#code-toggle, #code-save, #code-popout {
  position: absolute;
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

#code-toggle {
  left: 12px;
  top: 12px;
  fill: #012;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  #code-toggle.open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    fill: #000; }
  #code-toggle.shut {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  #code-toggle:hover {
    fill: #239; }

#code-save, #code-popout {
  left: 46px;
  top: 12px;
  fill: #000;
  opacity: 0; }
  #code-save:hover, #code-popout:hover {
    fill: #282; }

#code-popout {
  left: 80px; }
  #code-popout:hover {
    fill: #888; }

#save-scrim {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer; }
  #save-scrim.shut {
    display: none; }

#save-dialog {
  position: absolute;
  background-color: #77f;
  padding: 16px;
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 2px 12px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 2px 12px;
  -ms-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 2px 12px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 2px 12px;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 2px 12px; }
  #save-dialog.shut {
    visibility: hidden; }
  #save-dialog > * {
    float: left; }
  #save-dialog > input {
    margin: 0;
    border: 0;
    border-radius: 2px;
    height: 28px;
    font-family: Sans-serif; }

.dialog-textfield {
  padding: 0 0 0 8px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25); }

.dialog-button {
  font-size: 14px;
  font-weight: bold;
  padding: 0 8px 0 8px;
  margin-left: 8px !important;
  color: #000;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer; }
  .dialog-button:hover {
    background-color: #fff; }
