@import "bourbon/bourbon";

html {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
}

#code {
    position: absolute;
    left: 30px; right: 50%; top: 30px; bottom: 30px;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
    opacity: 1;
    z-index: 0;
    @include transition((background-color, opacity), 0.2s, ease-in);
    &:hover {
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-out);
        @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
        background-color: rgba(24, 28, 22, 0.8);
    }
    &.shut {
        opacity: 0;
    }
    &.popped {
        left: 0; right: 0; top: 0; bottom: 0;
        padding: 20px;
        &:hover {
            background-color: transparent;
        }
    }
}

#code-text {
    margin: 0;
    border: 0;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    font-family: Monospace;
    font-size: 14px;
    font-weight: bold;
    white-space: pre-wrap;
    text-shadow: #000 0px 1px 3px;
    &.error {
        color: #f00;
    }
    &::selection {
        background: #0cc;
        color: #fff;
    }
    &::-moz-selection {
        background: #0cc;
        color:#fff;
    }
    &::-webkit-selection {
        background: #0cc;
        color:#fff;
    }
}

#code-toggle, #code-save, #code-popout {
    z-index: 10;
    position: absolute;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}
#code-toggle {
    left: 12px; top: 12px;
    fill: #012;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
    &.open {
        @include transform(rotate(45deg));
        fill: #000;
    }
    &.shut {
        @include transform(rotate(0deg));
    }
    &:hover {
        fill: #239;
    }
}
#code-save, #code-popout {
    left: 46px; top: 12px;
    fill: #000;
    opacity: 0;
    @include transition(opacity, 0.2s, ease-out);
    &:hover {
        fill: #282;
    }
}
#code-popout {
    left: 80px;
    &:hover {
        fill: #888;
    }
}
