html {
  height: 100%; }

body {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden; }

#canvas {
  width: 100%;
  height: 100%; }

#code {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  -webkit-transition-property: background-color, opacity;
  -moz-transition-property: background-color, opacity;
  -ms-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  #code:hover {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    -ms-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    -o-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    background-color: rgba(24, 28, 22, 0.8); }
  #code.shut {
    opacity: 0; }

#code-text {
  margin: 0;
  border: 0;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  font-family: Monospace;
  font-size: 14px;
  font-weight: bold;
  white-space: pre-wrap;
  text-shadow: #000 0px 1px 3px; }
  #code-text.error {
    color: #f00; }

#code-text::selection {
  background: #0cc;
  color: #fff; }

#code-text::-moz-selection {
  background: #0cc;
  color: #fff; }

#code-text::-webkit-selection {
  background: #0cc;
  color: #fff; }

#code-toggle {
  position: absolute;
  left: 12px;
  top: 12px;
  stroke: #fff;
  fill: #012;
  stroke-width: 2px;
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  #code-toggle:hover {
    fill: #239; }
  #code-toggle.open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    fill: #000; }
  #code-toggle.shut {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
