@import "bourbon/bourbon";


#about {
  text-align: left;
  max-width: 800px;
  margin: 75px auto; }

#about p {
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: left; }

#about a {
    text-decoration:underline;
}

h3 {
  margin-bottom: 30px; }

h4 {
  text-align: left;
  color: #999;
  display: block;
  margin-bottom: 0;
  margin-top: 35px; }

h4 code {
  font-weight: normal;
  color: #666;
  font-size: 14px;
  display: inline-block;
  margin-left: 30px; }

pre.code {
  color:#ff7;
  text-align: left;
  border-left: 5px solid #333;
  padding: 5px 20px;
  background: #161616; }