@import "bourbon/bourbon";

body {
}

#ref {
  text-align:left;
  max-width:800px;
  margin:75px auto;
}
#ref p {
  font-weight:normal;
  letter-spacing:0.05em;
  text-align:left;
}

footer {
}
footer p  {
}