@import "bourbon/bourbon";
@import "style.css";

body {
  text-align:center;
}

#nav {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  background-color: #181818;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 12px;
  & ul {
    margin: 8px 0 3px 0;
    & li {
      display: inline-block;
    }
  }
}

#shaders {
  margin: 60px 0 40px 0; padding: 0;
  line-height: 1.3em;
  & li {
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 256px;
    & .thumb {
      margin: 0 auto;
      background: #000;
      margin-bottom: 20px;
      &, img {
        width: 256px; height: 256px;
      }
      & img {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
        @include transition-property(box-shadow);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
        &:hover {
          box-shadow: rgba(0, 255, 255, 0.4) 0px 2px 20px;
        }
      }
    }
    & .track {
      font-weight:bold;
      font-size:0.9em;
      padding: 10px;
    }
  }
}

#loader {
  text-align:center;
  & img {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  }
}
