@import "bourbon/bourbon";
@import "style.css";

html {
  background: #202020;
}
body {
  text-align:center; }
header {
  margin:10px 0;
  height:120px;
}
ul, li {
  list-style-type:none;
  margin:0;
  padding:0; }
h1 {
  font-size:1.6em;
  font-weight:normal;
  background:#000;
  color:#59f;
  text-shadow:rgba(0,25,255,1) 0px 0px 4px;
  display:inline-block;
  padding:15px 30px;
  border-radius:25px;
  & a {
    color:#59f;
  }
  & a:hover {
    color:#59f;
  }
}
h2 {
  font-size:1em;
}




ul.nav {
    position:fixed;
    top:12px;
    left:12px;
  }
ul.nav li {
  display:inline-block;
  & a {
    display:inline-block;
    border:2px solid #fff;
    border-radius:25px;
    background:#000;
    padding:5px 10px;
    color:#ddd;
    font-weight:bold;
  }
  & a:hover {
    background:#999;
    background:#534BD0;
    text-decoration:none;
  }
}




#shaders {
  margin:0;
  padding:0;
  line-height:1.3em;
  & li {
    text-align:center;
    margin:50px;
    height:360px;
    & .thumb {
      margin:0 auto;
      width:256px;
      height:256px;
      background:#0ff;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
      margin-bottom:20px; }
    & .artist {
      font-weight:bold;
      font-size:0.9em;
      padding:10px;
      color:#666;
    }
    & a:hover .artist {
      color:#999;
    }
    & img:hover {
      box-shadow:rgba(65,65,65,0.4) 0px 0px 20px;
    }
  }
}


#loader {
  text-align:center;
  & img {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  }
}
