@import "bourbon/bourbon";
@import "style.css";

body { }

#nav {
  position: fixed;
  left: 12px;
  top: 3px;
  & ul { margin: 0;
    & li {
      margin: 10px 0;
    }
  }
}

#shaders {
  margin:12px 0 0 120px;
  padding: 0;
  line-height: 1.3em;
  & li {
    font-size:12px;
    float:left;
    display: inline-block;
    text-align: center;
    margin: 0px 20px 30px 20px;
    width: 256px;
    height:330px;
    & .thumb {
      background: #000;
      margin-bottom: 20px;
      &, img {
        width: 256px; height: 256px;
      }
      & img {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
        @include transition-property(box-shadow);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
        &:hover {
          box-shadow: rgba(255, 255, 220, 0.25) 0px 2px 20px;
        }
      }
    }
    & .track {
      color:#999;
    }
    & .artist {
      color:#555;

    }
  }
}

#loader {
  text-align:center;
  & img {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
  }
}
