@import url(style.css);
body {
  text-align: center; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.6em;
  font-weight: normal;
  background: #000;
  color: #59f;
  text-shadow: #0019ff 0px 0px 4px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px; }
  h1 a {
    color: #59f; }
  h1 a:hover {
    color: #59f; }

h2 {
  font-size: 1em; }

#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #033;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px; }
  #nav ul {
    margin: 8px; }
    #nav ul li {
      display: inline-block; }

#shaders {
  margin: 60px 0 40px 0;
  padding: 0;
  line-height: 1.3em; }
  #shaders li {
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 256px; }
    #shaders li .thumb {
      margin: 0 auto;
      background: #000;
      margin-bottom: 20px; }
      #shaders li .thumb, #shaders li .thumb img {
        width: 256px;
        height: 256px; }
      #shaders li .thumb img {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
        -webkit-transition-property: box-shadow;
        -moz-transition-property: box-shadow;
        -ms-transition-property: box-shadow;
        -o-transition-property: box-shadow;
        transition-property: box-shadow;
        -webkit-transition-duration: 0.1s;
        -moz-transition-duration: 0.1s;
        -ms-transition-duration: 0.1s;
        -o-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
        #shaders li .thumb img:hover {
          box-shadow: rgba(0, 255, 255, 0.4) 0px 2px 20px; }
    #shaders li .artist {
      font-weight: bold;
      font-size: 0.9em;
      padding: 10px;
      color: #666; }
    #shaders li a:hover .artist {
      color: #999; }

#loader {
  text-align: center; }
  #loader img {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px; }
