@import url(style.css);
#nav {
  position: fixed;
  left: 12px;
  top: 3px; }
  #nav ul {
    margin: 0; }
    #nav ul li {
      margin: 10px 0; }

#shaders {
  margin: 12px 0 0 120px;
  padding: 0;
  line-height: 1.3em; }
  #shaders li {
    font-size: 12px;
    float: left;
    display: inline-block;
    text-align: center;
    margin: 0px 20px 30px 20px;
    width: 256px;
    height: 330px; }
    #shaders li .thumb {
      background: #000;
      margin-bottom: 20px; }
      #shaders li .thumb, #shaders li .thumb img {
        width: 256px;
        height: 256px; }
      #shaders li .thumb img {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px;
        -webkit-transition-property: box-shadow;
        -moz-transition-property: box-shadow;
        -ms-transition-property: box-shadow;
        -o-transition-property: box-shadow;
        transition-property: box-shadow;
        -webkit-transition-duration: 0.1s;
        -moz-transition-duration: 0.1s;
        -ms-transition-duration: 0.1s;
        -o-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
        #shaders li .thumb img:hover {
          box-shadow: rgba(255, 255, 220, 0.25) 0px 2px 20px; }
    #shaders li .track {
      color: #999; }
    #shaders li .artist {
      color: #555; }

#loader {
  text-align: center; }
  #loader img {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px; }
