html, body {
  background: #444; }

body {
  background: #202020;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold; }

a {
  color: #aaa;
  text-decoration: none; }

a:hover {
  color: #fff; }
